.browse-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.browse-container .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.browse-container .form {
  width: 75%;
  margin: 45px 0;
}

.browse-container .submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browse-container .search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
