.control-block-container{
    container-type: inline-size;
}

.control-block-row {
    margin-bottom: 10px;
}

.control-block-subtitle{
    overflow-wrap: break-word;
}

.control-block-select{
    width: 100%;
}


@container (width > 400px) {
    .control-block-row {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .control-block-subtitle{
        padding-right: 10px;
    }
}




