.preview-img {
  object-fit: cover;
}

.preview-container {
  height: 22px;
}

.other_actions{
  display: flex;
  flex-direction: row;
}

.draft-preview > .ant-card-actions > li > span:hover {
  color: #ff4d4f;
}