.preview-img {
  object-fit: cover;
}

.preview-card{
  width: 192px;
}

.preview-card .ant-card-meta-title {
  overflow: auto;
  text-overflow: unset;
}

.preview-container {
  display: flex;
  overflow: auto;
}